body {
    background-color: black;
    color: white;
    font-family: Montserrat;
    font-size: medium;
}


/* Encabezado */




/* Logo */





/* Video principal */
.PrimerVideo {
    position: relative;
    margin-top: 10vh; /* para que no se tape con el header fijo */
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.PrimerVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TextoDelVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    padding: 1rem;
}

.Amarillo {
    color: rgb(225, 202, 58);
}



/*MAIN GENERAL*/

main {
    margin: 100px;
    padding:0px;
}

  /*DEPARTAMETO TECNICO*/
  .DtoTecnico img {
    max-width: 100%;
    height: auto;
    display: block; 
}
  
  /*CONOCENOS*/
  section {
    margin-top: 50px;
  }
  
  section h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  section.Ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  section.Ubicacion .ContenedorFrente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  section.Ubicacion .GymFrente {
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5%;
  }
  section.Ubicacion .Map {
    border-radius: 5%;
    max-width: 300px;
    max-height: 400px;
  }
  
  .carousel-inner { /*CARRUSEL IMG GIM*/
    display: flex;
    /*justify-content: center;*/
    align-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5%;
  }
  
  .Profes {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas */
    justify-content: space-evenly; /* Espacia uniformemente las imágenes */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%; /* Usa todo el ancho disponible */
  }
  
  .Instructor {
    position: relative;
    max-width: 300px; /* Tamaño máximo de ancho */
    aspect-ratio: 1/1; /* Relación de aspecto cuadrada */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    overflow: hidden; /* Evita que el contenido se salga del borde */
    text-align: center;
  }
  
  .card-img {
    width: 100%; /* Se ajusta al ancho del contenedor */
    height: 100%; /* Se ajusta al alto del contenedor */
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .card-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  .card-img-overlay {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    color: white;
    padding: 10px;
    text-align: center; /* Centra el texto horizontalmente */
    justify-content: center; /* Centra el texto verticalmente */
    display: flex; /* Hace que el contenedor sea flexible */
    flex-direction: column; /* Asegura que el texto fluya en columnas */
    opacity: 0; /* Oculto inicialmente */
    transition: opacity 0.3s ease; /* Transición suave */
    height: 40%; /* Ocupa el 40% de la parte inferior */
  }
  
  .Instructor:hover .card-img-overlay {
    opacity: 1; /* Muestra el texto al pasar el mouse */
  }
  
  .floating-label {
    position: relative;
    display: block;
  }
  
  .floating-label label {
    position: absolute;
    top: 5px; /* Ajusta la posición vertical */
    left: 10px; /* Ajusta la posición horizontal */
    font-size: 14px; /* Tamaño del texto del label */
    color: #6c757d; /* Color del texto */
    pointer-events: none; /* Evita que el label interrumpa el clic en el campo */
    transition: all 0.2s ease-out; /* Suaviza el movimiento */
  }
  
  .floating-label textarea {
    width: 100%;
    padding: 10px;
    padding-top: 30px; /* Espacio adicional para el label */
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
  }
  
  .floating-label textarea:focus + label,
  .floating-label textarea:not(:placeholder-shown) + label {
    top: -15px; /* Mueve el label hacia arriba */
    font-size: 12px;
    color: #495057;
}

/*EVENTOS*/
.Megarun2024 figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 100px;
  }
  
  .Megarun2024 img {
    width: 100%;
    height: auto;
    object-fit: cover; /* recorta un poco para que todas queden parejas si quieres */
  }
  